<div th:fragment="messageAndBellIcon"
	class="d-flex align-items-center me-4">
	<a class="d-flex align-items-center me-4" href="#"
		sec:authorize="isAuthenticated()" aria-label="Notifications"> <i
		class="bi bi-bell fs-5" style="color: white; font-weight: bold;"></i>
		<!-- ... -->
		<div>
	</a> <a class="d-flex align-items-center me-4" href="#" id="message-icon"
		data-bs-toggle="modal" data-bs-target="#message-modal"
		sec:authorize="isAuthenticated()" aria-label="Messages"> <i
		class="bi bi-chat-dots fs-5" style="color: white; font-weight: bold;"></i>
		<!-- ... -->
	</a>
	</div>
</div>